.square {
    width: 200px;
    height: 200px;
    background-image: url('images/holes.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    width: 40%;
    height: 700px;
    cursor: url('images/hammer.png'), auto;
    margin: 0 auto;
}
.grid:active {
    cursor: url('images/hammer-smash.png'), auto;
}

.mole {
    background-image: url(images/moles.png);
    background-size: cover;
    background-repeat: no-repeat;
}
body {
    background-image:url('images/bg3.png') ;
    background-position: center;
    background-size: cover;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Yatra One', cursive;
}
.container {
    text-align: center;
    border: 10px solid black;
}
h1 {
    font-family: 'Fredericka the Great', cursive;
    font-size: 72px;
}
.scoreboard {
    width: 30%;
}
.time {
    width: 30%;
}
.text {
    display: flex;
    margin: 0 auto;
    width: 70%;
    justify-content: space-evenly;
}
.mainGame {
    display: flex;
}
.tutorial {
    width: 20%;
    margin-left: 100px;
    background-image: url('images/board.png');
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
}
.tutorial p {
    font-size: 19px ;
}
.buttons {
    width: 25%;
    text-align: left;
}
#startBtn {
    width: 80%;
    height: 60px;
    background-image: url('images/bg.png');
    background-size: cover;
    border-radius: 100px;
    
}
#startBtn { 
    font-size: 20px;
}